
* {
	font-family: '뫼비우스 Regular', 'Moebius', sans-serif;
}

body {
	background-color:#fff;
}

.red_line {
	color: red;
	height: 10px;
}
#header {
	width: 100%;
	overflow:auto;
	float:left;
	display: table;
	position: fixed;
	background-color: #fff; 
	margin:0; 
	padding:0; 
	top:0; 
	left:0;

}


#header > * {
	margin:0;
	display: inline-block;
	vertical-align: middle;
}

.font_orange {
	color: rgb(245,128,37);
}

.font_white {
	color: #fff;
}


.font_red {
	color: rgb(255,0,0);
}

.card-wrapper {
	position:relative;
	width: 100%;
	overflow:auto;
	float: left;
	display: table;
	align-content: center;
	text-align: center;
	margin-top:50px;
}


.container {
  position: relative;
  width: 300px;
  height:300px;
  margin:0 auto;
  display: inline-block;
  margin: 20px;
  text-align:center;
    /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.container:hover {
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(245,128,37);

}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  cursor: pointer;
}

#title-image {
  left:0px;
  margin: 0;
  top: 80px;
  height:300px;
}

