<html>
	<head>
		<!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"> -->
		 <script type="text/javascript" src="/static/js/side_menu.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/theme2.css">
		<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
		<title>HyTV: Dashboard</title>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
		</style>

	</head>
	<body>
	<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a href="#">About</a>
		  <a href="#">Services</a>
		  <a href="#">Clients</a>
		  <a href="#">Contact</a>
	</div>

	<div id="main" style="margin:0;padding:0;">

	<div class="main_header" style="height:270px; margin-bottom:50px;">
		<div class="bar-father">
			<div class="icon icon-bar" onclick="openNav()">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
			<h1 class="icon" style="margin: 0px; margin-left: 10px;"><span style="color:white; font-size:1.0em;">HyTV</span>
			<span class="font_orange" style="font-size:0.5em;">Hynix Trend Viewer</span></h1>
			<img src="/static/img/hynix.png" style="height:30px;position:absolute;right:30px;top:5px;"/>
		
		</div>
		<h1 class="font_orange" style="margin-top:100px; font-size:2.4em; text-align:center;">기간 별 조회</h1>
	</div>
	<div class="border" style="margin: 0 auto; position:relative;display:table; ">
		<h1 style="text-align:center; padding-bottom:10px;" class="font_orange">메인 분석</h1>
		<h2 style="text-align:center;">기간: 2017-08-01 ~ 2018-09-01</h2>
		<h2 style="text-align:center;">토픽 수: 2</h2>
		
	</div>
	<div style="height:100px;"></div>
	<h1 style="text-align:center">추가 분석된 내역 2건</h1>
	<div id="report">
		<table class="left-table pointer">
			<tr>
				<th></th>
				<th>파일명</th>
				<th>Topic 수</th>
				<th>기간</th>
			</tr>
			<tr>
				<td>1</td>
				<td>asdfadf</td>
				<td>2</td>
				<td>2017-07-01 ~ 2019-01-01</td>
			</tr>
			<tr>
				<td>1</td>
				<td>asdfadf</td>
				<td>2</td>
				<td>2017-07-01 ~ 2019-01-01</td>
			</tr>

		</table>

	
	</div>

	</div>

	</body>
</html>