<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
	<script type="text/javascript" src="/static/js/side_menu.js"></script>
	<link rel="stylesheet" type="text/css" href="/static/css/theme2.css">
		<title>HyTV: Graph</title>
		<style>
			body{
				margin:0;
			}
		</style>

	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>


</head>
<body>
	<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a href="#">About</a>
		  <a href="#">Services</a>
		  <a href="#">Clients</a>
		  <a href="#">Contact</a>
	</div>

	<div id="main" style="margin:0;padding:0;">

	<div class="main_header" style="height:270px; margin-bottom:100px;">
		<div class="bar-father">
			<div class="icon icon-bar" onclick="openNav()">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
			<h1 class="icon" style="margin: 0px; margin-left: 10px;"><span style="color:white; font-size:1.0em;">HyTV</span>
			<span style="color:orange; font-size:0.5em;">Hynix Trend Viewer</span></h1>
			<img src="/static/img/hynix.png" style="height:30px;position:absolute;right:30px;top:5px;"/>

		</div>
					<h1 style="color: orange; margin-top:100px; font-size:2.4em; text-align:center;">그래프</h1>
	</div>

	
	<h1 style="margin: 0 auto; text-align:center; padding:100px vertical-align:center; margin-bottom:100px;">일/주별 고객의 소리 통계</h1>
	<div class="keyword-keeper">
		<div class="stat-graph">
			<div style="padding-bottom:50px;">
			<div id="statgraph">
				<script>
		        var graphs = {{plot | safe}};
		        Plotly.plot('statgraph',graphs,{title:'monthly graph'});
		    </script>
			</div>
			</div>
		</div>
		<div class="stat-graph">
			<div style="padding-bottom:50px;">
			<div id="statgraph2">
			    <script>
			        var graphs = {{plot2 | safe}};
			        Plotly.plot('statgraph2',graphs,{title:'daily graph'});
		    	</script>
			</div>
		</div>
		</div>
<!-- 
		<div class="stat-graph">
			<div style="padding-bottom:50px;">
			<div id="statgraph3">
			    <script>
			        var graphs = {{plot3 | safe}};
			        Plotly.plot('statgraph3',graphs);
		    	</script>
			</div>
		</div>
		</div>
 -->




	</div>



	</div>
	<!-- 
	<script>
		statgraph.on('plotly_click',function(data){
			alert(data.points[0].x);
		})
	</script> -->

</body>
</html>