<html>
	<head>
		<!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"> -->
		<script type="text/javascript" src="/static/js/side_menu.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/theme2.css">
		<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
		<title>HyTV: Main</title>
		<style>
			body {
				margin: 0;
				padding: 0;
			}
		</style>
	</head>
	<body>


	<div id="mySidenav" class="sidenav">
		  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
		  <a href="{{url_for('index')}}">홈</a>
		  <a href="{{url_for('graph')}}">트렌드 차트</a>
		  <a href="{{url_for('allgraph')}}">분석 결과</a>
		  <a href="{{url_for('select')}}">분석 시스템</a>
	</div>


	
	<div id="main" style="margin:0;padding:0;">


	<div class="main_header">
		<div class="bar-father">
			<div class="icon icon-bar" onclick="openNav()">
				<div class="bar"></div>
				<div class="bar"></div>
				<div class="bar"></div>
			</div>
			<h1 class="icon" style="margin: 0px; margin-left: 10px;" onclick="window.location.href='index'"><span style="color:white; font-size:1.0em;">HyTV</span>
			<span style="color:orange; font-size:0.5em;">Hynix Trend Viewer</span></h1>
			<img src="/static/img/hynix.png" style="height:30px;position:absolute;right:30px;top:5px;"/>
			
		</div>
		
		<!-- <h1 style="margin: 0 auto; top: 100px; z-index: 100; color: white; display: inline-block; position: absolute; text-align: center;">We Do Trend</h1> -->
		<img src="/static/img/title2.png" height="300px" style="margin: 0 auto; display:block;">

	</div>
	<div class="card-wrapper">	
		<div class="container" onclick="window.location.href='graph'">
		  <img src="/static/img/trend.png" alt="Avatar" class="image">
		  <div class="overlay">
		    <div class="text">
		    	<h1>트렌드</h1>
		    	<h2>전체 흐름 파악</h2>
		    </div>
		  </div>
		</div>

		<div class="container" onclick="window.location.href='all_graph'">
		  <img src="/static/img/chart.png" alt="Avatar" class="image">
		  <div class="overlay">
		    <div class="text">
		    	<h1>결과</h1>
		    	<h2>전체 결과 확인</h2>
		    </div>
		  </div>
		</div>

		<div class="container" onclick="window.location.href='select'">
		  <img src="/static/img/search.png" alt="Avatar" class="image">
		  <div class="overlay">
		    <div class="text">
		    	<h1>분석</h1>
		    	<h2>커스텀 분석</h2>
		    </div>
		  </div>
		</div>




	</div>
</div>

	</body>
</html>