<html>
	<head>
		<!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"> -->
		<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
		<title>HyTV</title>
	
	</head>
	<body>
		<div id="header" style="padding:10px">
			<img src="/static/img/hynix.png" width="100"/>
			<h1 class="font_red">하이티비&nbsp;&nbsp;&nbsp;</h1>
			<h1 class="font_orange">Hynix Trend Viewer</h1>
		</div>
		<hr class="red_line">

		<div class="card-wrapper">
			<div class="flip-card">
			  <div class="flip-card-inner">
			    <div class="flip-card-front">
			      <img src="/static/img/graph.png" style="width:300px;height:300px;">
			    </div>
			    <div class="flip-card-back" onclick="window.location.href='graph'">
			      <h1>트렌드 분석</h1> 
			      <p>aaa</p>
			    </div>
			  </div>
			</div>

			<div class="flip-card">
			  <div class="flip-card-inner">
			    <div class="flip-card-front">
			      <img src="/static/img/keyword.png" style="width:300px;height:300px;">
			    </div>
			    <div class="flip-card-back">
			      <h1>블라블라</h1> 
			      <p>aaa</p>
			    </div>
			  </div>
			</div>


		</div>
	</body>
</html>