<html>
	<head>
		<!-- <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic" rel="stylesheet"> -->
		<link rel="stylesheet" type="text/css" href="/static/css/theme.css">
		<title>HyTV: Keyword</title>
		<style>
			body{
				margin:0;
			}
		</style>
	</head>
	<body>
	<div class="header" style="padding:5px;" onclick="window.location.href='index'">
			<!-- <img src="/static/img/hynix.png" width="100"/> -->
			<h1 style="text-align:center; font-size:1.8em"><span class="font_red" style="font-size:1.2em">하이티비&nbsp;&nbsp;&nbsp;</span><span style="font-size:0.8em; color:orange;">Hynix Trend Viewer</span></h1>
			<!-- <h1 class="font_orange">Hynix Trend Viewer</h1> -->
	</div>

	</body>
</html>